<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="trip_form">
      <%= render 'shared/trip_form' %>
    </section>
    <%= render 'shared/db_info' if current_user.admin? %>
  </aside>
  <div class="col-md-8">
    <h3>Trip Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>