<div class="center jumbotron">
  <h1>Welcome to the carpoLLing system</h1>

  <h2>
    This application was developed with the help of 
    <em><a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a></em>
    book.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<center>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
</center>