<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	This application helps users to share their cars in their usual trips with friends and colleagues.<br>
	Once the user publishes a trip using the form in the home page, the trip can be seen by other users in the Trips Feed in the home page.<br>
	The trips can be seen by all users in case of open trips.<br>
	Private trips (related check box is left unchecked) are only shown to user's circle.<br> 
	To add a user to your circle go to the Users panel, select the user and press <em>Add to my circle</em>.<br>
	To book a trip or cancel the reservation click on <em>Book/Cancel</em> button.<br>
	Each user has the amount of his travelcoins shown in brackets.<br>
	Every trip each passenger pays one travelcoin to the driver.
</p>
<p>
  Due to restrictions on the host server, use of corporate email is not allowed.
</p>
<em>
  Improve your experience using 
  <a href="http://www.google.com/chrome/">Google Chrome</a>.
</em>
