<%= form_for(@trip.active_reservations.build, remote: true, 
						 data: { confirm: "You sure?" } ) do |f| %>
  <div><%= hidden_field_tag :trip_id, @trip.id %></div>
  <%= f.submit "Book", class: "btn btn-success" %>
<% end %>