<% if current_user?(@trip.user) %>
  <% if @trip.triptype %>
    <button type="button" class="btn btn-danger btn-block disabled">My open trip</button>
  <% else %>
    <button type="button" class="btn btn-danger btn-block disabled">My private trip</button>
  <% end %>
<% else %>
  <div id="book_form">
  <% if @trip.booked?(@user) %>
    <%= render 'trips/cancel' %>
  <% else %>
  	<% if @trip.bookings < @trip.maxtravellers %>
    	<%= render 'trips/book' %>
    <% else %>
    	<button type="button" class="btn btn-success btn-block disabled">Fully booked</button>
    <% end %>
  <% end %>
  </div>
<% end %>