<%= form_for(@trip.active_reservations.find_by(passenger_id: @user.id),
             html: { method: :delete },
             data: { confirm: "You sure?" },
             remote: true) do |f| %>
  <%= f.submit "Cancel", class: "btn btn-danger" %>
<% end %>