<div id="passengers_form">
<% if @trip.passengers.any? %>
  <span class="booking">
  	Booked by 
  </span>
  <span class="booking">
  	<% @trip.passengers.each do |user| %>
  		<p>
  			<%= gravatar_for user, size: 25 %>
  	  	<%= link_to user.name, user %>
         (<%= user.travelcoins %>)
  	  </p>
  	<% end %>
  </span>
<% end %>
</div>