<% @trip = trip %>
<% @user = current_user %>
<li id="trip-<%= trip.id %>">
  <%= link_to gravatar_for(trip.user, size: 50), trip.user %>
  <span class="user"><%= link_to trip.user.name, trip.user %> (<%= trip.user.travelcoins %>)</span>
  <span class="addinfo"><%= trip.addinfo %></span>
  <span class="tripinfo" id="seat-<%= trip.id %>">
    <%= trip.tripinfo %> : <%= pluralize(trip.maxtravellers-trip.bookings, "seat") %> available
  </span>
  <span class="tripdate">
    <%= trip.tripdate.strftime("%A %d %B %Y at %H:%M %Z") %>
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(trip.created_at) %> ago
    <% if current_user?(trip.user) %>
      <%= link_to "delete", trip, method: :delete,
                                  data: { confirm: "You sure?" } %>
    <% end %>
  </span> 
  <section id="passengers-<%= trip.id %>">
    <%= render 'trips/passengers_form' %>
  </section>
  <br>
  <section id="book-<%= trip.id %>">
    <%= render 'trips/book_form' %>
  </section>
</li>