<p>Hi <%= @driver.name %>,</p>

<p>
<%= @user.name %> has cancelled reservation for your trip <%= @trip.tripinfo %> 
departing <%= @trip.tripdate.strftime("%A %d %B %Y at %H:%M %Z") %>.
</p>

<p>
Regards,<br>
<em>carpoLLing system</em>
</p>