<p>Hi <%= @user.name %>,</p>

<p>
please consider that <%= @driver.name %> has deleted trip <%= @trip.tripinfo %> 
departing <%= @trip.tripdate.strftime("%A %d %B %Y at %H:%M %Z") %>.
</p>

<p>
Regards,<br>
<em>carpoLLing system</em>
</p>