Hi <%= @driver.name %>,

<%= @user.name %> has cancelled reservation for your trip <%= @trip.tripinfo %> 
departing <%= @trip.tripdate.strftime("%A %d %B %Y at %H:%M %Z") %>.

Regards,
carpoLLing system