<p>Hi <%= @driver.name %>,</p>

<p>
Your trip <%= @trip.tripinfo %> departing <%= @trip.tripdate.strftime("%A %d %B %Y at %H:%M %Z") %>
has been booked by <%= @user.name %>.
</p>

<p>
Regards,<br>
<em>carpoLLing system</em>
</p>