Hi <%= @user.name %>,

please consider that <%= @driver.name %> has deleted trip <%= @trip.tripinfo %> 
departing <%= @trip.tripdate.strftime("%A %d %B %Y at %H:%M %Z") %>.

Regards,
carpoLLing system