<% unless current_user?(@user) %>
  <div id="friend_form">
  <% if current_user.myfriend?(@user) %>
    <%= render 'nofriend' %>
  <% else %>
    <%= render 'myfriend' %>
  <% end %>
  </div>
<% end %>