<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :traveler_id, @user.id %></div>
  <%= f.submit "Add to my circle", class: "btn btn-primary" %>
<% end %>