<%= form_for(current_user.active_relationships.find_by(traveler_id: @user.id),
             html: { method: :delete },
             remote: true) do |f| %>
  <%= f.submit "Remove from my circle", class: "btn btn-warning" %>
<% end %>