<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %> (<%= user.travelcoins %>)
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  <br>
  Member since <%= user.activated_at.strftime("%d %B %Y") %>
</li>