<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <%= render 'friend_form' %>
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %> (<%= @user.travelcoins %>)
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if current_user.admin? || current_user?(@user) || current_user.friendof?(@user) %>
        <% if @users.any? %>
            <div class="users friends">
              <% @users.each do |user| %>
                <li>
                  <%= gravatar_for user, size: 30 %>
                  <%= link_to user.name, user %> (<%= user.travelcoins %>)
                </li>
              <% end %>
            </div>
          <% end %>
        <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if current_user.admin? || current_user?(@user) || current_user.friendof?(@user) %>
      <% if @user.trips.any? %>
        <h3>Trips (<%= @user.trips.count %>)</h3>
        <ol class="trips">
          <%= render @trips %>
        </ol>
      <% end %>
    <% else %>           
      <br>Sorry, you're not a member of the circle of <%= @user.name %>.
      <%= image_tag("kitten.jpg", alt: "An unnecessary kitten pic") %>
    <% end %>
  </div>
</div>