<%= form_for(@trip) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

    <%= f.label       :tripinfo, "Trip info" %>
    <%= f.text_field  :tripinfo, placeholder: "route" %>

    <%= f.label           :tripdate, "Trip date" %>
    <% if request.env['HTTP_USER_AGENT'] =~ /[^\(]*[^\)]*[^\t]Chrome\// %>
      <%= f.datetime_field  :tripdate %>
    <% else %>
      <%= f.datetime_select :tripdate %>
    <% end %>

    <%= f.label         :maxtravellers, "Available seats" %>
    <%= f.number_field  :maxtravellers, placeholder: "#" %>

    <%= f.label     :addinfo, "Additional info" %>
    <%= f.text_area :addinfo, placeholder: "fare, meeting point, ..." %>

    <%= f.label     :triptype, "Open trip" %>
    <%= f.check_box :triptype, checked: true, class: "col-md-1 control-label" %>
  </div>
  <br>
  <%= f.submit "Create a new trip", class: "btn btn-primary" %>
<% end %>