<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %> (<%= current_user.travelcoins %>)</h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.trips.count, "trip") %></span>