$("#book-<%= @trip.id %>").html("<%= escape_javascript(render('trips/book')) %>");
$("#passengers-<%= @trip.id %>").html("<%= escape_javascript(render('trips/passengers_form')) %>");
$("#seat-<%= @trip.id %>").html('<%= @trip.tripinfo %> : <%= pluralize(@trip.maxtravellers-@trip.bookings, "seat") %> available.');