<footer class="footer">
  <small>
    carpoLLing 1.8
    by <a href="https://twitter.com/GiovanniButini/">Giovanni Butini</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>